@import "macchiato.scss";

button {
  border-radius: 18px;
  min-height: 10px;
  margin: 3px 6px;
  font-size: 12pt;
}

button:first-child {
  margin-left: 3px;
}

button:last-child {
  margin-right: 3px;
}

.start-button {
  background-color: $lavender;
  color: $surface0;
}

.start-button:hover {
  background-color: $overlay1;
}

.date-label {
  font-size: 16pt;
}


.start-widget {
  margin: 6px 8px;
}

.end-widget {
  margin: 6px 8px;
}


.workspaces {
  background-color: $surface0;
  border-radius: 18px;
  font-size: 12pt;
}

.workspace.active {
  background-color: $mauve;
  color: $base;
}

.systray {
  background-color: $surface0;
  border-radius: 18px;
  font-size: 11pt;

  button {
    background-color: rgba($color: $base, $alpha: 0);
    border-radius: 18px;
  }
}


.widget-menu {
  background-color: $surface0;
  border-radius: 18px;

}

.brightness {
  margin: 0px 5px;
  padding: 0px 12px;
  border-radius: 18px;
}

.volume {
  margin: 0px 5px;
  padding: 0px 12px;
  border-radius: 18px;
}


.battery.power-saver {
  background-color: $green;
  color: $surface1;
}

.battery.performance {
  background-color: $peach;
  color: $surface1;
}

.power-profiles.power-saver {
  background-color: $green;
  color: $surface1;
}

.power-profiles.performance {
  background-color: $peach;
  color: $surface1;
}

.power-button {
  margin-left: 0px;
  background-color: $red;
}

window.notification-popups box.notifications {
  padding: .5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: $text;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: .5em;
  border: 1px solid $surface0;
  background-color: $base;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: $mauve;
  font-size: 1.4em;
}

.body {
  color: $text;
}

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
